.icon-custom
    +font-size(18px)
    font-weight: $light
    margin: 15px 0 0 10px
    i
        color: $green-light
        &:before
            padding-right: 15px

        span
            color: $white !important
            &:first-child
                color: $green-strong !important
        
