main
    background: $black
    .body-section
        display: flex
        flex-direction: column
        height: 1400px
        background: $black
        .about
            +make-sm-column-offset(2)
            +make-sm-column(8)
            h3
                margin: 120px auto 10px auto
                text-transform: uppercase
                +font-size(40px)
                +breakpoint($phone)
                    +font-size(20px)

            h3,
            p
                color: $white
                text-align: center
                font-weight: $light

            p
                display: block
                +font-size(14px)
                font-family: "Roboto",sans-serif
                color: $grey-regular
                letter-spacing: .5px
    
    .cards
        display: flex;
        flex-direction: row
        margin: 20px
        justify-content: center
        +breakpoint($phone)
            flex-direction: column
        .card-left
            display: flex
            flex-direction: column
            .card-about
                padding: 30px
                background-color: $black-grey
            .card-ability
                width: 100px
                height: 100px
                background: #342434
        .card-right
            display: flex
            flex-direction: column
            .card-xp
                height: 100px
                width: 100px
                background: #321344
            .card-academic
                width: 100px
                height: 100px
                background: #874

